
body {
	font-family: "Trebuchet MS", "Tahoma", sans-serif;
	background-color: black; 
	color: white;
	text-align: center; 
}

/*----Nav Bar----*/
.nav {
	position: relative;
	top: 0;
	width: 70em;
	max-width: 960px; 
	list-style-type: none;
	margin:0 auto;
	padding: 0;
	overflow: hidden; 
	background-color: #ff0066;
}

.nav li { 
	float: left;
}

.nav a { 
	display: inline;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; 
	color: white;
	font-size: 30px; 
	font-family: "Arial Black", sans-serif; 
}

.big-image {
	width: 100%;
	max-width: 700px;
}

div .small-image {
	opacity: 0.4;
	height: 20%;
	width: 20%;
	max-width: 150px;
	display: inline;
	border-radius: 20px;
}